<div id="viewport">
  <mat-toolbar id="toolbar">
    <mat-toolbar-row>
      <p routerLink="/">PIMS</p>
      <span class="spacer"></span>

      <mat-icon class="icon">search</mat-icon>
      <mat-icon class="icon">inbox</mat-icon>
      <mat-icon class="icon">people</mat-icon>
      <mat-icon class="icon" routerLink="admin">settings</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>

  <div id="content">
    <router-outlet></router-outlet>
  </div>
  <div id="footer">
    <span>Made with <span style="color:#792c10;">&hearts;</span> on <a href="https://www.github.com/KreLou/PIMS/" target="_blank">Github</a></span>
  </div>
</div>
